.plain {
  color: #409EFF;
  background: #ecf5ff;
  border-color: #b3d8ff;
}
.row{
  display: flex;
  flex-direction: row;
}
.center{
  text-align: center;
}
.wrap {
  flex-wrap: wrap;
}
.circle {
  width: 14px;
  height: 14px;
  background-color: #a04949;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  margin: auto;
  margin-right: 18px;
}
.clearfix {
  &:after, &:before {
    display: block;
    content: " ";
    clear: both;
  }
}
.float-right {
  float: right;
}

.pointer {
  cursor: pointer;
}

.f24 {
  font-size: 24px;
  font-family: PingFangSC-Regular, sans-serif;
}

.f20 {
  font-size: 20px;
  font-family: PingFangSC-Regular, sans-serif;
}
.f14 {
  font-size: 14px;
  font-family: PingFangSC-Regular, sans-serif;
}
.f12 {
  font-size: 12px;
  font-family: PingFangSC-Regular, sans-serif;
}
.c3 {
  color: #333;
}

.c6 {
  color: #666;
}

.c9 {
  color: #999;
}

.cf {
  color: #fff;
}

.o08 {
  opacity: 0.8;
}
.o10 {
  opacity: 1.0;
}
.middle {
  margin: 0 auto;
  height: 100%;
}

.w1080 {
  width: 1200px;
  padding: 0 60px;
}
.justify {
  text-align: justify;
  &::after {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: 0;
    content: '';
    vertical-align: top;
  }
}

.inline {
  display: inline-block;
  vertical-align: text-top;
}

.m15{
  margin: 15px;
}

.m30{
  margin: 30px;
}

